.btnChat{
    float: right;
    position: fixed;
    border: none;
    text-decoration: none;
    width: 60px;
    height: 60px;
    left:90%;
    top:85%;
    border-radius: 100%;
    box-shadow: 2px 2px lightgray;
    z-index: 999;
}
.openClose{
    float: right;
    height: 100%;
    position: relative;
    margin: auto;
    z-index: 999;
}
.mytext{
    border:0;padding:4px;background:whitesmoke;
}
.text-data{
    width:75%;display:flex;flex-direction:column;
}
.text-data > p:first-of-type{
    width:100%;margin-top:0;margin-bottom:auto;line-height: 13px;font-size: 12px;
}
.text-data > p:last-of-type{
    width:100%;text-align:right;color:silver;margin-bottom:-7px;margin-top:auto;
}
.text-l{
    float:left;padding-right:10px;
}        
.text-r{
    float:right;padding-left:10px;
}
.avatar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:25%;
    float:left;
    padding-right:10px;
}
.macro{
    margin-top:5px;width:95%;border-radius:10px;padding:5px;display:flex;
}
.msj-rta{
    margin-bottom: 10px;
    float:right;background:whitesmoke;
}
.msj{
    float:left;background:white;
}
.frame{
    position: fixed;
    background:hsl(60, 3%, 87%);
    height:440px;
    width: 350px;
    overflow:hidden;
    padding:5px;
    left:70%;
    top:35%;
    z-index: 999;
}
.frame > div:last-of-type{
    position:absolute;bottom:0;width:100%;display:flex;
}
.ul-class {
    width:100%;
    list-style-type: none;
    padding:10px;
    position:absolute;
    bottom:27px;
    display:flex;
    flex-direction: column;
    top:0;
    overflow-y:scroll;
}
.msj:before{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:-14px;
    position:relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent #ffffff transparent transparent;            
}
.msj-rta:after{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:14px;
    position:relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: whitesmoke transparent transparent transparent;           
}  
input:focus{
    outline: none;
}