<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/javascripts/scriptFile.js"></script>  
  </head>
  <body>
    <button id= "toggleButton" onclick="clickfunction()" >click here</button>
    <video id="videoPlayer" height="500px" width="800px" controls controlsList="nofullscreen nodownload" preload="none"
      src=<%= vpath %> 
      poster="/images/dtata.png"
    </video>
  </body>
</html>
